{% extends 'base.html' %}
{% load static %}


{% block title %}
    Ticket #{{ ticket.id }}
{% endblock title %}


{% block content %}
    {% include 'includes/header.html' %}

    {% if ticket.rejection_message %}
        <div class="container">
            <div class="alert alert-danger" role="alert">
                {{ ticket.rejection_message }}
            </div>
        </div>
    {% endif %}

    <div class="container">
        <p class="mb-3"><a class="text-decoration-none" href="{% url 'tickets_app:all' %}">< Volver</a></p>
        <h2 class="small text-muted">Ticket #{{ ticket.id }}</h2>
        <h1>{{ ticket.title }}</h1>
        <p>
            <small class="text-muted">Enviado el {{ ticket.created_at }}</small>
            {% if user.role != 3 %} <small class="text-muted"> • Autor {{ ticket.user.persona }}</small> {% endif %}
            <span class="badge
                {% if ticket.status == 1 %} {{ 'bg-warning' }} {% endif %}
                {% if ticket.status == 2 %} {{ 'bg-info' }} {% endif %}
                {% if ticket.status == 3 %} {{ 'bg-success' }} {% endif %}
                {% if ticket.status == 4 %} {{ 'bg-danger' }} {% endif %}
            ">
                {% if ticket.status == 4 %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" width="9"
                         style="margin-top: -3px; margin-right: 5px" viewBox="0 0 320 512">
                    <path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/>
                </svg>
                {% elif ticket.status == 3 %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" width="14"
                         style="margin-top: -3px; margin-right: 5px" viewBox="0 0 512 512">
                    <path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                </svg>
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" width="12"
                         style="margin-top: -3px; margin-right: 5px" viewBox="0 0 512 512">
                    <path d="M256 512C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256s-114.6 256-256 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
                </svg>
                {% endif %}
                {{ ticket.get_status_display }}
            </span>
            {% if user.role != 3 %}
                <span class="badge
                {% if ticket.urgency == 1 %} {{ 'bg-danger' }} {% endif %}
                {% if ticket.urgency == 2 %} {{ 'bg-warning' }} {% endif %}
                {% if ticket.urgency == 3 %} {{ 'bg-info' }} {% endif %}
                {% if ticket.urgency == 4 %} {{ 'bg-success' }} {% endif %}
            ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" width="12"
                     style="margin-top: -3px; margin-right: 5px" viewBox="0 0 448 512">
                    <path d="M159.3 5.4c7.8-7.3 19.9-7.2 27.7 .1c27.6 25.9 53.5 53.8 77.7 84c11-14.4 23.5-30.1 37-42.9c7.9-7.4 20.1-7.4 28 .1c34.6 33 63.9 76.6 84.5 118c20.3 40.8 33.8 82.5 33.8 111.9C448 404.2 348.2 512 224 512C98.4 512 0 404.1 0 276.5c0-38.4 17.8-85.3 45.4-131.7C73.3 97.7 112.7 48.6 159.3 5.4zM225.7 416c25.3 0 47.7-7 68.8-21c42.1-29.4 53.4-88.2 28.1-134.4c-2.8-5.6-5.6-11.2-9.8-16.8l-50.6 58.8s-81.4-103.6-87.1-110.6C133.1 243.8 112 273.2 112 306.8C112 375.4 162.6 416 225.7 416z"/>
                </svg>
                {{ ticket.get_urgency_display }}
            </span>
                <a href="{% url 'tickets_app:edit' ticket.id %}">Editar ticket</a>
            {% endif %}
        </p>
        <hr class="mb-5">
        <p>
            Categoría: {{ ticket.category.title }}
        </p>
        <p class="preserve-linebreaks" readonly>{{ ticket.content }}</p>
        {% if ticket.file.url is not null %}
            <p>
                <strong>Archivo adjunto:</strong>
                <a href="{{ ticket.file.url }}" target="_BLANK" class="position-relative">
                    <img class="d-inline-block ms-4 rounded" src="{{ ticket.file.url }}" width="50"/>
                    <svg class="new-tab-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 345.89 345.89">
                        <path fill="currentColor" class="cls-1"
                              d="M52.32,48.88c68.42-66.51,178.19-64.95,244.69,3.46,66.51,68.42,64.96,178.18-3.46,244.69s-173.56,64.95-240.42,.72L192.19,163.1l-.67,47.5,11.93,.17,.96-67.82-69-.98-.17,11.93,48.6,.69L44.81,289.2C-17.51,220.56-14.66,114,52.32,48.88Z"/>
                    </svg>
                </a>
            </p>
        {% endif %}
        <hr class="my-5">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Ver todos los detalles del ticket
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
             data-bs-parent="#accordionExample">
            <p>
                <h5 class="mb-3" for="id_service_type"><b>Servicio Solicitado: </b>{{ service_type }}</h5>
            </p>
            {% for extra_info in service_extra_info %}
                <p>
                    <label><b>{{ extra_info.description }}:</b></label>
                    {{ extra_info.content }}
                </p>
            {% endfor %}
        </div>
        <hr class="my-5">
        <div class="mb-5 pb-5">
            <div class="d-block d-md-flex justify-content-between">
                <h3 class="text-center text-md-left mb-4">Comentarios</h3>
                <a href="{% url 'tickets_app:comment' ticket.id %}" class="d-block d-md-inline btn btn-primary mb-4">+
                    Agregar nuevo comentario</a>
            </div>

            {% for comment in ticket.ticket_comments.all %}
                <li class="bg-light rounded px-4 py-2 mb-4 mw-600">
                    <p class="preserve-linebreaks">{{ comment.content }}</p>
                    {% if comment.file.url is not null %}
                        <img class="d-block" src="{{ comment.file.url }}" width="300"/>
                    {% endif %}
                    <small class="text-muted">{{ comment.created_at }} • {{ comment.user }}</small>
                </li>
                {% empty %}
                <li>Este ticket aún no tiene comentarios.</li>
            {% endfor %}
        </div>
    </div>
{% endblock content %}