{% extends 'base.html' %} 

{% block title %} Rechazar ticket {% endblock title %}

{% block content %} 
    {% include 'includes/header.html' %}

    <div class="container mb-5">
        <p class="mb-3"><a class="text-decoration-none" href="{% url 'tickets_app:all' %}">< Volver</a></p>
        <h1 class="me-4">Rechazar ticket</h1>

        <form class="pt-2 pb-5 mw-600" method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>
    </div>

    {% if user.role != 1 %}
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                const choices = document.querySelectorAll("#id_status option")
                const arr = Array.from(choices)
                console.log(arr)
                arr.forEach(choice => {
                    if(choice.value === "1" || choice.value === "4") choice.remove()
                })
            });
        </script>
    {% endif %}
{% endblock content %}
