{
    "FILENAME": "env.json",
    "SECRET_KEY": "your-key",
    "DB_NAME": "your_db",
    "DB_USER": "your_user",
    "DB_PASSWORD": "your_pass",
    "EMAIL_HOST": "your_email_host",
    "EMAIL_PORT": 465,
    "EMAIL_HOST_USER": "your_email_user",
    "EMAIL_FROM": "your_email_address",
    "EMAIL_HOST_PASSWORD": "your_email_password",
    "APP_DOMAIN": "your_domain"
}