{% extends 'base.html' %}

{% block title %}
    Bienvenido
{% endblock title %}


{% block content %}
    {% include 'includes/header.html' %}

    <div class="container pb-5">
        <h1>Bienvenido {{ user.persona }} al DirCom</h1>
        {% if user.role == 3 %}
            <h2 class="mt-5">Tus últimos tickets</h2>
        {% else %}
            <h2 class="mt-5">Últimos tickets recibidos</h2>
        {% endif %}

        <ul>
            {% for ticket in tickets %}
            <li class="mb-2">
                <a 
                    {% if user.role == 3 %} href="{% url 'tickets_app:detail' ticket.id %}"  {% endif %}
                    {% if user.role != 3 %} href="{% url 'tickets_app:edit' ticket.id %}"  {% endif %}
                    class="text-decoration-none text-dark d-block px-4 py-2 border border-light rounded hover-gray"
                >
                    Ticket #{{ ticket.id }}: {{ ticket.title }} 
                    <span class="badge
                        {%if ticket.status == 1 %} {{ 'bg-warning' }} {% endif %}
                        {%if ticket.status == 2 %} {{ 'bg-info' }} {% endif %}
                        {%if ticket.status == 3 %} {{ 'bg-success' }} {% endif %}
                        {%if ticket.status == 4 %} {{ 'bg-danger' }} {% endif %}
                    ">
                        {% if ticket.status == 4 %}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" width="9" style="margin-top: -3px; margin-right: 5px" viewBox="0 0 320 512">
                            <path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/>
                        </svg>
                        {% elif ticket.status == 3 %}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" width="14" style="margin-top: -3px; margin-right: 5px" viewBox="0 0 512 512">
                            <path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                        </svg>
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" width="12" style="margin-top: -3px; margin-right: 5px" viewBox="0 0 512 512">
                            <path d="M256 512C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256s-114.6 256-256 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
                        </svg>
                        {% endif %}
                        {{ ticket.get_status_display }}
                    </span>
                    {% if user.role != 3 %}
                        <span class="badge
                        {%if ticket.urgency == 1 %} {{ 'bg-danger' }} {% endif %}
                        {%if ticket.urgency == 2 %} {{ 'bg-warning' }} {% endif %}
                        {%if ticket.urgency == 3 %} {{ 'bg-info' }} {% endif %}
                        {%if ticket.urgency == 4 %} {{ 'bg-success' }} {% endif %}
                    ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" width="12" style="margin-top: -3px; margin-right: 5px" viewBox="0 0 448 512">
                        <path d="M159.3 5.4c7.8-7.3 19.9-7.2 27.7 .1c27.6 25.9 53.5 53.8 77.7 84c11-14.4 23.5-30.1 37-42.9c7.9-7.4 20.1-7.4 28 .1c34.6 33 63.9 76.6 84.5 118c20.3 40.8 33.8 82.5 33.8 111.9C448 404.2 348.2 512 224 512C98.4 512 0 404.1 0 276.5c0-38.4 17.8-85.3 45.4-131.7C73.3 97.7 112.7 48.6 159.3 5.4zM225.7 416c25.3 0 47.7-7 68.8-21c42.1-29.4 53.4-88.2 28.1-134.4c-2.8-5.6-5.6-11.2-9.8-16.8l-50.6 58.8s-81.4-103.6-87.1-110.6C133.1 243.8 112 273.2 112 306.8C112 375.4 162.6 416 225.7 416z"/>
                    </svg>
                        {{ ticket.get_urgency_display }}
                    </span>
                    {% endif %}
                    <br>
                    <small class="text-muted">
                        {{ ticket.created_at }} 
                        {% if user.role != 3 %} • {{ ticket.user }}{% endif %}
                        {% if user.role == 1 %} 
                            {% if ticket.agent %} 
                                • <span class="text-success">Asignado a {{ ticket.agent }}</span> 
                            {% else %} 
                                • <span class="text-danger">no se ha asignado aún</span>
                            {% endif %}
                        {% endif %}
                    </small>
                </a>
            </li>
            {% empty %}
                {% if user.role == 3 %}
                    <li class="py-5">
                        <p class="text-center">No tienes tickets aún, <a href="{% url 'tickets_app:create' %}">crea uno aquí</a>.</p>
                    </li>
                {% else%}
                    <li class="py-5">
                        <p class="text-center">No hay tickets recientes...</p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% if tickets.count > 2 %}
            {% if user.role == 3 %}
                <div class="d-flex justify-content-center">
                    <a href="{% url 'tickets_app:all' %}" class="btn btn-primary">Ver todos tus tickets</a>
                </div>
            {% else %}
                <div class="d-flex justify-content-center">
                    <a href="{% url 'tickets_app:all' %}" class="btn btn-primary">Ver todos los tickets</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}