{% load notifications_filters %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript">
    function onclickBell(){
        $("#id_notification_balloon,#id_notification_balloon").each(function (){
            $(this).hide();
        })
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        const choices = document.querySelectorAll(".notification-popup td")
        const arr = Array.from(choices)
        console.log(arr)
        arr.forEach(choice => {
            if (choice.value === "1" || choice.value === "4") choice.remove()
        })
    });

    $(document).ready(function () {

        $("#id_bell_notification,#id_notification_balloon").click(function () {

            $.ajax('{% url 'notifications_app:get_notifications' %}', {
                type: 'POST',  // http method
                data: { csrfmiddlewaretoken: '{{ csrf_token }}'},  // data to submit
                success: function (notifications, status, xhr) {
                    $('#id_popup_container').append(notifications);
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    $('p').append('Error: ' + errorMessage);
                }
            });
        });
    });
</script>
<style>
    .notification {
        background-color: #555;
        color: white;
        text-decoration: none;
        padding: 13px 26px 0;
        position: relative;
        display: inline-block;
        border-radius: 2px;
        top: -6px;
    }

    .notification .badge {
        position: absolute;
        top: 10px;
        right: 15px;
        border-radius: 50%;
        background: red;
        color: white;
        font-size: xx-small;
        cursor: pointer;
    }

    #id_bell_notification{
        cursor: pointer;
    }
</style>
<div class="border-bottom mb-5">
    <header class="container d-flex flex-wrap justify-content-center py-3">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="h3 mb-0 red fw-normal">DirCom<span class="fw-bold text-dark">CRM</span></span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item">
                {% if user.role == 3 %}
                    <a class="btn btn-primary" href="{% url 'tickets_app:create' %}" class="nav-link">
                        Crear ticket
                    </a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'tickets_app:all' %}" class="nav-link">
                        Administrar tickets
                    </a>
                {% endif %}
            </li>
            {% if user.role == 1 %}
                <li class="nav-item"><a href="{% url 'users_app:all' %}" class="nav-link">Usuarios</a></li>
                <li class="nav-item"><a href="{% url 'tickets_app:reports' %}" class="nav-link">Reportes</a></li>
            {% endif %}
            {% if user.role == 3 %}
                <li class="nav-item"><a href="{% url 'tickets_app:all' %}" class="nav-link">Historial</a></li>
            {% endif %}
            <li class="nav-item"><a href="{% url 'users_app:profile' %}" class="nav-link">
                <svg class="header-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                          d="M256 112c-48.6 0-88 39.4-88 88C168 248.6 207.4 288 256 288s88-39.4 88-88C344 151.4 304.6 112 256 112zM256 240c-22.06 0-40-17.95-40-40C216 177.9 233.9 160 256 160s40 17.94 40 40C296 222.1 278.1 240 256 240zM256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 464c-46.73 0-89.76-15.68-124.5-41.79C148.8 389 182.4 368 220.2 368h71.69c37.75 0 71.31 21.01 88.68 54.21C345.8 448.3 302.7 464 256 464zM416.2 388.5C389.2 346.3 343.2 320 291.8 320H220.2c-51.36 0-97.35 26.25-124.4 68.48C65.96 352.5 48 306.3 48 256c0-114.7 93.31-208 208-208s208 93.31 208 208C464 306.3 446 352.5 416.2 388.5z"/>
                </svg>
            </a></li>
            <li class="nav-item">
                <a class="nav-link notification">
                    {% if  request.user.pk|notifications_number != 0  %}
                        <span id="id_notification_balloon" onclick="onclickBell()" style="background:#0d6efd" class="badge btn">{{ request.user.pk|notifications_number }}</span>
                    {% endif %}
                    <svg onclick="onclickBell()" id="id_bell_notification" class="header-icon" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 448 512">
                        <path fill="currentColor"
                              d="M256 0H192V51.2C119 66 64 130.6 64 208v88L0 368v48H448V368l-64-72V208c0-77.4-55-142-128-156.8V0zm32 448H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z"/>
                    </svg>
                </a>
                <div id="id_popup_container"></div>
            </li>
            <li class="nav-item"><a href="{% url 'users_app:logout' %}" class="nav-link">
                <svg class="header-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                          d="M160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96C43 32 0 75 0 128V384c0 53 43 96 96 96h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H96c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32h64zM504.5 273.4c4.8-4.5 7.5-10.8 7.5-17.4s-2.7-12.9-7.5-17.4l-144-136c-7-6.6-17.2-8.4-26-4.6s-14.5 12.5-14.5 22v72H192c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32H320v72c0 9.6 5.7 18.2 14.5 22s19 2 26-4.6l144-136z"/>
                </svg>
            </a></li>
        </ul>
    </header>
</div>